@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bebas+Neue&family=Fredoka+One&family=Lato:ital,wght@1,300&family=Libre+Baskerville&family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@200&family=Patrick+Hand&family=Saira+Condensed:wght@200&display=swap');
body{

    margin: 0;
    background: rgb(58,95,180);
background: linear-gradient(133deg, rgba(58,95,180,1) 0%, rgba(160,236,165,1) 100%);
}

.princ h1{

    font-family:'Bebas Neue', cursive;;
    text-align: center;
    margin-left: 20px;
    margin-top: 0;
    font-size: 70px;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
    

    
}

.princ p{

    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    position: relative;
    bottom: 50px;

    
}

.princ{

    height: 200px;
    width: 100%;
    margin: 0;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: inline-block;
    border-top: 0.5px transparent solid;

}


ul{

    height: fit-content;
    width: fit-content;
    list-style: none;
    margin: auto;

    position: relative;
    bottom: 30px;
}

li{

    display: inline-block;
}

a{

    text-decoration: none;
    margin-left: 30px;

    border-bottom: black solid 0.5px;
    padding: 10px 30px 10px 30px;

    font-family: 'Open Sans Condensed', sans-serif;

    color: black;
}

a:hover{

    border-bottom: solid 2.5px rgb(38, 80, 64);
}

.pensamentos{


    border-bottom: none;


}

.pensamentos a:hover{

    border-bottom: none;

}

.data{

    font-size: 15px;
}

.liberdade{

    width: 700px;
    height: 1900px;

    background-color: rgba(245, 245, 245, 0.692);

    line-height: 45px;

    margin: auto;

    box-sizing: border-box;

    padding: 55px;

    margin-top: 20px;

    font-family: 'Saira Condensed', sans-serif;

    color: black;

    letter-spacing: 1.2px;

    border-radius: 20px;

    box-shadow: black 10px 2px 0px;

    
}

p{

    font-size: 23px;
}