@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bebas+Neue&family=Fredoka+One&family=Lato:ital,wght@1,300&family=Libre+Baskerville&family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@200&family=Patrick+Hand&family=Saira+Condensed:wght@200&display=swap');


body{

    margin: 0;
    background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.princ h1{

    font-family:'Bebas Neue', cursive;;
    text-align: center;
    margin-left: 20px;
    margin-top: 0;
    font-size: 70px;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
    

    
}

.princ p{

    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    position: relative;
    bottom: 50px;

    
}

.princ{

    height: 200px;
    width: 100%;
    margin: 0;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: inline-block;
    border-top: 0.5px transparent solid;

}


ul{

    height: fit-content;
    width: fit-content;
    list-style: none;
    margin: auto;

    position: relative;
    bottom: 30px;
}

li{

    display: inline-block;
}

a{

    text-decoration: none;
    margin-left: 30px;

    border-bottom: black solid 0.5px;
    padding: 10px 30px 10px 30px;

    font-family: 'Open Sans Condensed', sans-serif;

    color: black;
}

a:hover{

    border-bottom: solid 2.5px rgb(38, 80, 64);
}

.pensamentos{

    border-bottom: none;
}

.projetos{

    width: 540px;
    height: 750px;
    background-color: rgba(225, 239, 241, 0.993);


    box-shadow: black 8px 4px 2px;

    margin: auto;
    border-top: solid transparent 0.5px;
    margin-top: 20px;
}

.projetos h1{

    text-align: center;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;

    text-transform: uppercase;
}

hr{

    background-color: darkgoldenrod;
    height: 10px;


}

.projetos ul{

    margin-top: 160px;
    margin-left: 100px;
    

    font-size: 20px;
    
}

.anolevado{

    margin-top: 60px;
    margin-left: 20px;
}


.Aimport{

    margin-top: 60px;
    margin-left: 2px;
    margin: auto;
    margin-top: 60px;

}

.mais{

    margin-top: 60px;
    margin-left: 82px;
    margin: auto;
    margin-top: 70px;
    margin-left: 14px;
}

